.board {
  padding: 1rem;
  // border: 2px solid magenta;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-self: flex-start;

  .navigation {
    font-size: 1.5rem;
    display: flex;
  }

  .columns {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .addBtn {
      min-width: 11rem;
      height: 2.5rem;
    }
  }

  min-height: 50%;
  max-height: 90%;
}
