.board {
  padding: 1rem;

  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-self: flex-start;

  .columns {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .addBtn {
      width: 11rem;
      height: 1.5rem;
    }
  }

  min-height: 50%;
  max-height: 90%;
}
