@use '../../base.scss';

.board {
  border: 1px solid wheat;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  width: 22rem;

  background: url(../../assets/wood-pattern.png);

  &:hover {
    transition: transform 200ms;
    transform: translateY(-0.075rem);
    box-shadow: base.$shadow-secondary;
  }

  .editBtn {
    align-self: flex-end;
    padding: 1rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-left: 1rem;

    .title {
      margin: 0;
      overflow-wrap: break-word;
      max-width: 100%;
    }
  }

  .actions {
    align-self: flex-start;
  }
}
