@use '../../base.scss';

.column {
  border: 1px solid wheat;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 275px;
  min-height: 50vh;
  max-height: 90%;
  //overflow-y: scroll;

  //background: url(../../assets/wood-pattern.png);

  background-color: #fdfdfe;
  opacity: 1;
  background-image: radial-gradient(#f6c107 0.4px, #fdfdfe 0.4px);
  background-size: 8px 8px;

  &:hover {
    transition: transform 200ms;
    transform: translateY(-1px);
    box-shadow: base.$shadow-third;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .titlebox {
      display: flex;
      justify-content: center;

      &:hover .editIcon {
        visibility: visible;
      }

      .title {
        font-size: 1.5rem;
        text-align: center;
      }

      .editIcon {
        visibility: hidden;
      }
    }
  }

  .actions {
    justify-self: flex-end;
    align-self: flex-end;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
