@use '../../base.scss';

@mixin headerBtn {
  color: white;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navigation__item {
}

.navigation__link {
  color: white;

  &:hover {
    border-bottom: 2px dashed white;
  }
}

.active__link {
  border-bottom: 2px solid white;
  color: white;
}

.signOutBtn {
  @include headerBtn;
  &:hover {
    cursor: pointer;
    background: base.$main-red;
  }
}

.newBoardBtn {
  @include headerBtn;

  &:hover {
    cursor: pointer;
    background: base.$base-blue;
  }
}
