@use '../../base.scss';

@mixin headerBtn {
  color: white;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  .navigation__list {
    display: none;

    justify-content: center;
    align-items: center;
    gap: 1rem;

    .navigation__item {
    }
  }

  .signOutBtn {
    @include headerBtn;
    &:hover {
      cursor: pointer;
      background: base.$main-red;
    }
  }

  .newBoardBtn {
    @include headerBtn;

    &:hover {
      cursor: pointer;
      background: base.$base-blue;
    }
  }

  .navigation__link {
    color: white;

    &:hover {
      border-bottom: 2px dashed white;
    }
  }

  .active__link {
    border-bottom: 2px solid white;
    color: white;
  }
}

.menuBtn {
  display: none;
}

/////

///// MOBILE /////

.navigation {
  .navigation__list_mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .menuBtn {
    display: block;
  }

  .navigation {
    .navigation__list {
      display: none;
    }
  }

  .navigation {
    .navigation__list_mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      position: absolute;
      top: 3.5rem;
      right: -27rem;
      width: 20rem;
      background: base.$gradient-main-reversed;
      padding: 1rem;
      border-radius: 0.25rem;
      transition: all 0.3s ease-in;
    }

    .signOutBtn_mobile {
      @include headerBtn;
      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
        background: base.$main-red;
      }
    }

    .newBoardBtn_mobile {
      @include headerBtn;
      font-size: 1.5rem;

      &:hover {
        cursor: pointer;
        background: base.$base-blue;
      }
    }

    .navigation__link {
      color: white;
      font-size: 1.5rem;

      &:hover {
        border-bottom: 2px dashed white;
      }
    }

    .active__link {
      border-bottom: 2px solid white;
      color: white;
      font-size: 1.5rem;
    }
  }
}

.moveMenu {
  transform: translateX(-19rem);
}

@media (min-width: 768px) {
  .menuBtn {
    display: none;
  }

  .navigation {
    .navigation__list {
      display: flex;

      .navigation__item {
      }
    }
  }

  .navigation {
    .navigation__list_mobile {
      // display: none;
      .navigation__item_mobile {
      }
    }
  }
}
