@use '../../base.scss';

.profilePage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  width: 20rem;
  flex-grow: 0;
  padding: 1rem;
  height: auto;
  box-shadow: base.$shadow-main;

  .title {
    text-align: center;
  }
}

.snackbarDeleted {
  color: green;
}
