.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 15rem;
  z-index: 100;
  overflow: hidden;

  margin-top: -7.5rem;
  margin-left: -10rem;

  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  gap: 2rem;
}

.closeBtn {
  //position: absolute;
  align-self: flex-end;
  justify-self: flex-start;
}
